.about-wrap {
  margin-top: 40px;
}

.showcase {
  text-align: center;
}

.showcase h1 {
  font-size: 8em;
}

.showcase h2 {
  font-family: "Roboto Mono", monospace;
  color: lightgrey;
}

.shadow {
  box-shadow: 7px 7px 7px #666;
  position: relative;
  transition: all 0.2s;
  top: 0;
}

.up-hover:hover {
  top: -5px;
  box-shadow: 15px 15px 15px #777;
}

.avatar {
  display: block;
  position: relative;
  width: 250px;
  margin: auto;
  margin-top: 40px;
}

.bio-container {
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

.bio-container h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 35px;
  color: #33ccff;
}

.bio-container p {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
}

strong {
  font-family: "Roboto Mono", monospace;
  font-size: 23px;
  color: #00cc99;
}

.skills {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
}
