@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

.home-p {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
}

.contact-me {
  color: #cde856;
  font-family: "Roboto Mono", monospace;
}

.contact-me:hover {
  color: #34ebde;
}

.portfolio-gif {
  border-radius: 1em;
  width: 80%;
  height: 80%;
}
